@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
table{
    margin: 10px;
    font-size: 13px;
    border-collapse: collapse;
    height: 70px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px;*/
    
}
.header .center{
    background: black;
    color: white;
}
/*.header .esquinai{
    color: white;
    background: black;
    border-top-left-radius: 10px;
    width: 10px;
}
.header .esquinad{
    color: white;
    background: black;
    border-top-right-radius: 10px;
    width: 20px;
}*/
tr{
    transition: all .2s ease-in;
    cursor: pointer;
}
th, td{
    padding: 1px 5px 1px 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 768px){
    table{
        width: 95%;
    }
}
#total-general{
    background: black;
    /*border-radius: 10px;*/
    color: white;
    width: fit-content;
    padding: 5px;
    /*font-weight: bold;*/
    margin: 0 auto;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}
.encabezado{
    background: rgb(0, 0, 0);
    color: white;
    width: 95%;
    margin: 5px 10px;
    text-align: center;    
    box-sizing: border-box;
    padding: 3px;
    font-size: 18px;
    /*border-radius: 10px;*/
}
.captura{
    /*box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);*/
    color: #a0a0a0;
    border-bottom: 1px solid black;
    /*border-radius: 10px;*/
    width: 95%;
    margin: 5px 10px 10px 10px;
    font-size: 13px;
    text-align: center;
    padding: 1px;
}
.gracias{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    /*border-radius: 12px;*/
    width: 95%;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}
@media (max-width: 385px){
    .encabezado{
        font-size: 15px;
    }
    table{
        font-size: 12px;
    }
}
.cant{
    text-align: center;
}


